header {
  background-color: #91e6e6;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo img {
  width: 100px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
}
#buttons{
  width: 30%;
  display: flex;
  gap: 10px;
}
#buttons button {
  width: 50%;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#userDropdown{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#container {
  display: flex;
  flex-direction: row;
  
}
#content {
  width: 70%;
  flex: 1;
  padding: 20px;
}
#sidebar {
  width: 30%;
  background-color: #91e6e6;
  padding: 20px;
  border-left: 1px solid #ccc;
}
